target/
Cargo.lock

.idea/
.vscode/
.DS_Store
Thumbs.db

# assuming mode folder to be models
models/
# models
tokenizer.json
model.safetensors

# Config contains API keys
config.json

# Backup files created by exif-ai
*.bak
*.jpg
*.jpeg
*.png
*.gif
*.hiec
*.hief
*.tiff
*.raw
*.dng
*.webp